<div id="prowered-by" class="row featured-section featured-section-prefix text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3">
                <p class="small">OUR MISSION</p>
                <p class="powered-by-description">To define and build an ecosystem of best-in-class open-source web and
                    cloud-based development tools, and to promote and drive the broad adoption of these tools.</p>
                <p><a class="btn btn-primary" href="https://accounts.eclipse.org/mailing-list/ecd-tools-wg">Get Involved</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row featured-section featured-content-about">
    <div class="container">
        <div class="row margin-bottom-30">
            <div id="working_group" class="col-sm-18 col-sm-offset-3">
                <p class="margin-bottom-30 text-center"><img class="featured-content-about-img img-responsive" src="/images/ecdtools/about/about-icon.png"
                        alt="ABOUT THE ECLIPSE CLOUD DEVTOOLS WORKING GROUP"></p>
                <h2 class="heading-underline text-center">ABOUT THE ECLIPSE CLOUD DEVTOOLS WORKING GROUP</h2>
                <p class="text-center">The Eclipse Cloud DevTools Working Group accelerates innovation and adoption of
                    Cloud Integrated Development Environment (IDE) and container-based workspace management
                    technologies. This work is accomplished through:</p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>Engagement with the Eclipse and broader developer communities to ensure broad adoption of
                        emerging standards for cloud-based developer tools.</li>
                    <li>Coordination of interoperability work relative to Language Server Protocol (LSP), Debug Adapter
                        Protocol (DAP), and other developer tool protocols (workspace lifecycle management, source
                        control, continuous integration infrastructure, user management, etc), while proposing
                        evolutions to these protocols for additional use-cases.</li>
                </ul>
            </div>
            <div class="col-sm-12">
                <ul>
                    <li>Defining requirements for running developer workspaces, including runtime environments and
                        developer tools, in a cloud environment.</li>
                    <li>Promoting the adoption of developer tool plugins, and plugin marketplaces to Eclipse Cloud
                        DevTool projects.</li>
                    <li>Collaborating on the joint promotion of standards adoption among Eclipse Cloud DevTool projects.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row featured-section featured-content-faq">
    <div class="featured-content-faq-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-16 col-sm-offset-4">
                <div class="offwhite-bg-shadow">
                    <h2 class="heading-underline text-center">FREQUENTLY ASKED QUESTIONS</h2>
                    <p class="brand-primary">Why did the Eclipse Foundation create the Cloud DevTools Working Group?</p>
                    <p>Cloud native applications are of critical importance for today’s enterprises. According to a
                        recent Eclipse Foundation survey, more than 80% of developers have plans to create cloud native
                        applications within the next 12-18 months. It is this demand that drove the formation of the
                        Eclipse Cloud DevTools Working Group, a vendor-neutral open source collaboration that focuses on
                        development tools for and in the cloud. This working group fosters the evolution and broad
                        adoption of emerging standards for cloud-based developer tools, including language support,
                        extensions, marketplaces, and developer workspace definition.</p>

                    <p class="brand-primary">What are some of the key projects within the Eclipse Cloud DevTools Working
                        Group?</p>
                    <p>The Eclipse Cloud Development Tools Working Group encompasses a broad portfolio of open source
                        cloud development projects including Eclipse Theia, Eclipse Che, Eclipse Open VSX Eclipse
                        CodeWind, Eclipse Dirigible, Eclipse Sprotty, and many more.</p>
                    <p class="brand-primary">Who are some of the key members of the Eclipse Cloud DevTools Working
                        Group?</p>
                    <p>We have had tremendous interest in this initiative from a broad range of organizations. Founding
                        members include Broadcom, EclipseSource, Ericsson, IBM, Intel, Red Hat, SAP, Software AG, and
                        Typefox among many others. Every one of our Founders are respected leaders in their space, and
                        we have a mix of large corporations and smaller companies actively engaged. All of these
                        organizations have a strategic interest in cloud developer tools and want to shape the future of
                        a vibrant and sustainable ecosystem of users, contributors and service providers.</p>
                    <p class="brand-primary">How can interested developers and organizations get involved?</p>
                    <p>To learn more about getting involved with the Eclipse Cloud DevTools Working Group, view the
                        Charter and Working Group Participation Agreement (WPGA), or email us at membership@eclipse.org.
                        You can also join the Cloud DevTools mailing list.</p>
                    <p class="brand-primary">What are the overarching goals of the Eclipse Cloud Development Tools
                        Working Group?</p>
                    <p>The Eclipse Cloud DevTools Working Group works to accelerate the adoption of Cloud Integrated
                        Development Environments (IDE) and container-based workspace management through the adoption of
                        standards, engagement with third party developer tool
                        providers, and through the promotion of Eclipse Foundation projects to cloud developers.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>