<div id="prowered-by" class="row featured-section featured-section-prefix text-center featured-content-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3">
                <p class="small">GET LISTED AS AN ADOPTER</p>
                <p class="powered-by-description">Do you use Eclipse Cloud DevTools technology? You don’t have to be a
                    member of the Eclipse Foundation to get listed.</p>
                <p><a class="btn btn-primary" href="/adopters">LIST OF ADOPTERS</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top-40 margin-bottom-40">
    <h2>Who is Considered an Adopter?</h2>

    <p>Adopters are organizations that voluntarily show their support for any of the Eclipse Cloud DevTools
        projects they are leveraging. These organizations may be using project technology as the basis for commercial
        products &nbsp; as well as for non-commercial or internal purposes. On this website, adopters are displayed
        under the /adopters virtual path.</p>

    <h2>How Can I Get My Logo Displayed?</h2>

    <p>You can easily add your organization&rsquo;s logo to our list of adopters by submitting a pull request
        or by creating an issue. Attach files to an issue by dragging and dropping them in the text editor of the form.
    </p>

    <p>When submitting a pull request, please make the following changes to the
        eclipsefdn-project-adopters&#39; <a
            href="https://github.com/EclipseFdn/eclipsefdn-project-adopters">codebase</a>:</p>

    <ol>
        <li>Add a full color as well as a black/white logo to static/assets/images/adoptors. Logos should be transparent
            svg format.</li>
        <li>Update the adopter data file config/adopters.json. If your organization supports multiple projects, another
            project can be added to the projects list within the organization&rsquo;s node. The values in this list
            should be the ID of the project.</li>
    </ol>

    <p>For any questions or to provide feedback, please <a
            href="https://www.eclipse.org/org/foundation/contact.php">contact us</a>.</p>

</div>