<section class="row">
  <div class="container">
    <h2 id="benefits-membership">Benefits of Membership</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul>
      <li>Bullet 1</li>
      <li>Bullet 2</li>
      <li>Bullet 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    </ul>
    <h2 id="contact-us-about-membership" class="margin-top-40">Contact us about membership</h2>
    <p>Contact us about your organization joining the ECD tools Working Group.</p>
    <a class="btn btn-primary" href="https://accounts.eclipse.org/contact/membership/ecdtools" >Contact Us About Membership</a>
  </div>
</section>