{{#items}}
<div class="news-list">
  <a href="{{link}}" class="media media-link">
    <p class="media-date">{{#formatDate}}
    {{date}}
    {{/formatDate}}</p>
    <h4 class="media-heading">{{title}}</h4>
    <p class="media-text">{{summary}}</p>
  </a>
</div>
{{/items}}
