<div class="row news-item text-center padding-bottom-15">
{{#events}}
  <div class="col-sm-24">
    <p>{{ date }}</p>
    <h4 class="whats-new-title">
      <a href="{{ registration }}">{{ title }}</a>
    </h4>
    <p class="whats-new-description">{{ locationName }}</p> 
  </div>
{{/events}}
</div>