{{#events}}
  <div class="timeline-item">
    <p class="whats-new-date">{{ date }}</p>
    <h4>
      {{#infoLink}}
        <a href="{{infoLink}}">{{ title }}</a>
      {{/infoLink}}
      {{^infoLink}}
        {{ title }}
      {{/infoLink}}
    </h4>
    <p>{{ description }}</p>
  </div>
{{/events}}
