{{ $FeaturedSectionClass := .Page.Params.featured_section_class | default "featured-section-connected" }}

<div class="featured-section {{ $FeaturedSectionClass }} text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
          <ul class="list-inline">

            <li><a class="btn btn-primary" href="https://accounts.eclipse.org/mailing-list/ecd-tools-wg">Join our Mailing List</a></li>
            <li>
              <a class="connected-icon" href="https://www.linkedin.com/showcase/ecd-tools/">
                <i class="fa fa-linkedin-square" aria-label="Linkedin profile for Eclipse Cloud Development Tools"></i>
              </a>
            </li>
            <li>
              <a class="connected-icon" href="https://twitter.com/ecdtools?lang=en">
                <i class="fa fa-twitter" aria-label="Twitter profile for Eclipse Cloud Development Tools"></i>
              </a>
            </li>
            <li>
              <a class="connected-icon" href="https://youtube.com/playlist?list=PLy7t4z5SYNaQi-Tg57o1b3iYmxCxHxY0C">
                <i class="fa fa-youtube-play" aria-label="Youtube channel for Eclipse Cloud Development Tools"></i>
              </a>
            </li>
            <li>
              <a class="fa-stack fa-xl" href="https://www.twitch.tv/cloudchat_">
                <i class="fa fa-twitch fa-1x" aria-label="Twitch channel for Eclipse Cloud Development Tools"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>